html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    overflow: hidden;
}

.header {

}

.header-width-search {

    height: 60px;
    align-items: center;
}

.header__logo {
 
    user-select: none;
}

.header__logo-link {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
    
}

.header__logo-mc {
    display: none;
    text-align: center;
}

.header__logo-mc img {
    max-width: 25px;
    max-height: 25px;
}

@media (max-width: 1239px) {
    .search-autocomplete {
        width: 557px !important;
    }
}

@media (max-width: 1023px) {
    .header__logo-link {
       display: none;
    }
    .header__logo-mc {
        display: block;
    }

    .comic__information {
        margin-left: 10px;
    }
    .search-autocomplete {
        width: 500px !important;
    }
}

@media (max-width: 740px) {
    .header__search--f { 
        border: none !important;
        box-shadow: none !important;
        overflow: unset !important;
    }

    .header__search--input {
        border-radius: 5px;
        font-size: 16px !important;
        border: .5px solid rgb(165, 162, 162) !important;
    }
    .header__search--btn {
        font-size: 16px !important;
    }
    .search-autocomplete {
        width: calc(100% - 27%) !important;
    }
}

.header__logo-link span {
    color: #FF0063;
    box-shadow: 0px 1px 1px rgb(160, 160, 160);
}

.header__search {
    
}

.header__search--f {
    position: relative;
    border-radius: 20px;
    border: .5px solid rgb(165, 162, 162);
    box-shadow: 0px 0px 1px rgb(160, 160, 160);
    overflow: hidden; 
    display: flex;
    height: 40px;
}

.header__search--input {
    margin-left: 10px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 18px;
}

/* autocomplete search */

.search-autocomplete {
    position: absolute;
    height: 300px;
    width: 670px;
    background-color: #ffffff;
    top: 50px;
    z-index: 5;
    margin: 0 15px;
    overflow-y: scroll;
    display: none;
}

.search__auto-item {
    margin: 5px;
    background-color: #eaf6f6;
    overflow: hidden;
    border-radius: 3px;
}

.search__auto-item a {
    display: flex;
    align-content: center;
    text-decoration: none;
    color: #333;
    width: 100%;
}
.search__auto-item img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.search__auto-item span {
    margin: auto 0;
    padding: 10px;
}


.header__search--btn {
    margin-right: 5px;
    color: #FF0063;
    font-size: 20px;
    background: #fff;
    border: none;
    cursor: pointer;
}

.header__register-login {
    text-align: center;
}

.header__register {
    box-shadow: 1px 1px 3px rgb(160, 160, 160);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background: #FF0063;
    color: #fff;
}

.header__login {
    box-shadow: 1px 1px 3px rgb(160, 160, 160);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 20px;
    background: #66BFBF;
    color: #fff;
}

.menu-btn {
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}


.header__nav {
    box-shadow: 1px 1px 3px rgb(160, 160, 160);
    background: #FF0063;
    position: relative;
}

.header__nav-list {
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
    color: #fff;
    user-select: none;
    
}

.header__nav-item {
    font-size: 16px;
    width: 110px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header__nav-item:hover {
    background: #f3196d;
}

.header__nav-item-cotegory:hover .header__nav-cotegory-list {
    display: block;
}

.header__nav-cotegory {
    margin-right: 10px;
}

.header__nav-cotegory-list {
    z-index: 2;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #333;
    background: #fff;
    box-shadow: 1px 1px 3px rgb(160, 160, 160);
}

.header__nav-cotegory-list a {
    text-decoration: none;
    color: #333;
}

.list-wrap {
    display: flex;
    flex-wrap: wrap; 
}

.header__nav-cotegory-item {
    min-width: 150px;
    margin: 20px 0 20px 15px;
}

.header__nav-cotegory-item:hover {
    color: #FF0063;
}

/* nav mobile */

.nav__overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    animation: fadeIn linear .3s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 320px;
    max-width: 100%;
    background: #FF0063;
    user-select: none;
    transform: translateX(100%);
    transition: transform linear .2s , opacity linear .2s;
    opacity: 0;
}

.nav__input {
    display: none;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
    opacity: 1;
}

.nav__mobile-list {
    margin-left: 20px;
}

.nav__mobile-link {
    color: #fff;
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}

.nav__mobile-link a {
    text-decoration: none;
    color: #fff;
}

.nav__mobile-logo {
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.nav__mobile-logo span {
    color: #333;
    box-shadow: 0 2px 1px #fff;
}

.nav__mobile-close {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.btn-cotegory:hover ~ .hover-cotegory {
    display: block;
}

.hover-cotegory {
    display: none;
}

.nav__mobile-cotegory {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
}

.nav__mobile-cotegory-item {
    font-size: 14px;
    padding: 10px 0;
    width: 80px;
    overflow: hidden;
    
}

@keyframes fadeIn {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.content {
   background: #EAF6F6;
   padding-top: 20px;
   padding-bottom: 20px;
}

/* slider */

.content__slide {
    
}

.title-name {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0;
    color: #66bfbf;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(160, 160, 160);
}

.content__slide-name {
    margin-bottom: 10px;
}

.content__slide-name i {
    margin-left: 10px;
}



/* .swiper {
    width: 950px;
} */

.btn-hover {
    border-radius: 3px;
    background: #fff;
    opacity: .5;
    color: #FF0063;

}

.btn-hover:hover {
    opacity: .7;
}

.card {
    user-select: none;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.01);
}

.card__content {
    cursor: pointer;

}

.card__image {
    position: relative;

}

.card__image img {
    height: 210px;
    width: 100%;
    object-fit: cover;
}

.card__image-information {
    position: absolute;
    z-index: 1;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    background: #333;
    opacity: .8;
}

.card__image-view {
    font-size: 14px;
}

.card__image-heart {
    font-size: 14px;

}


.card__name {
    margin: 5px 0 5px 5px;
    font-weight: 500;
}

.card__chap {
    padding-bottom: 15px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.card__chap-name {
    font-size: 14px;
    margin-left: 5px;
}

.card__chap-time {
    font-size: 14px;
    margin-right: 5px;
    color: rgb(120, 120, 120);
}


@media ( min-width: 510px) and (max-width: 640px) { 
    .content__slide {
        margin: 0 25px;
    }
}

/* list comic */

.content__comic-title {
    margin: 10px 0;
    padding-left: 5px;
}
.content__comic-title i {
    margin: 0 5px;
}

.content__comic--list {
    /* margin: 0 -10px; */
    /* padding: 0 -4px; */
}

.content__comic--list .item {
    background: #fff;
    user-select: none;
    cursor: pointer;
}

.item {

}

.item__image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.item__name {
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    margin: 5px;
    text-transform: capitalize;
    overflow: hidden;
    line-height: 16px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.item__name a {
    color: #333;
    text-decoration: none;
}

.item__name a:hover {
    color: #f3196d;
}

.item__information {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 10px 5px;
}

.item__information-chap {
    font-size: 14px;
}

.item__information-chap a:hover {
    color: #f3196d;
}

.item__information-chap a {
    text-decoration: none;
    color: #333;
}

.item__information-time {
    font-size: 14px;
    color: rgb(110, 109, 109);
}

.content__comic--ratings {
    background: #fff;
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(160, 160, 160);

}

.content__comic--ratings-title {
    padding: 10px 10px 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #66BFBF;
}

.content__comic--ratings-title i {
    margin-right: 5px;
}

.ratings__item {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ratings__item img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 5px;
}

.ratings__item-name {
    font-weight: 500;
    flex: 1;
}

.ratings__item-order {
    margin-left: 12px;
    padding: 6.8px 10px;
    background: #66BFBF;
    border-radius: 50px;
}

/* Footer */

.footer {
    height: 300px;
}

.line {
    height: 5px;
    background: #ff0063;
    margin-bottom: 10px;
}


/* breadcrumb */

/* Style the list */
ul.breadcrumb {
    margin: 15px 0 15px 10px;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #FF0063;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #66BFBF;
  }


/* view comic */

.comic {
    background-color: #fff;
    border-radius: 5px;
    padding-top: 25px;
}

.comic__image {
    text-align: center;
    
}



.img-thumbnail{
    padding:0 3px 3px 0;
    background-color:rgb(0, 0, 0);
    border-radius:5px;
    box-shadow: 2px 2px 5px rgb(147, 147, 147);
    object-fit: cover;
    height: 250px;
    width: 200px;
}

.comic__name {
    font-size: 26px;
    font-weight: 500;
}

.comic__category {
    margin-top: 20px;
}

.btn-category {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #FF0063;
    text-decoration: none;
    color: #FF0063;
    font-size: 15px;
    cursor: pointer;
}

.comic__status {
    margin-top: 20px;
    display: flex;
    font-size: 15px;
}

.comic__status-l {
    margin-right: 20px;
    color: #333;
    width: 120px;
}

.comic__status-r {
    color: #333;

}

.comic__manipulation {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin: 20px 10px 0 0;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 15px;
}

.btn:hover {
    opacity: .8;
}

.btn i {
    margin-right: 5px;
}

.btn-info {
    background-color: #66BFBF;
    color: #fff;
}

.btn-default {
    background-color: #FF0063;
    color: #fff;
}

.btn-warning {
    background-color: #333;
    color: #fff;
}

.comic__content {
    padding: 20px;
}

.comic__content-al {
    font-size: 15px;
    margin-top: 10px;
}
.comic__content-al span {
    font-size: 20px;
    color: #FF0063;
}
.comic__content-al span i {
    margin-right: 10px;
}
.info-summary {
    margin-top: 10px;
}

.comic__content-al ul li {
    margin-top: 15px;
}

.comic__content-al ul li a {
    text-decoration: none;
    color: #333;
}
.comic__content-al ul li a:hover {
    color: #FF0063;
}

.title__chapter {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

.select__chapter {
    width: 100%;
    font-size: 16px;
    border: 1px solid #66BFBF;
    border-radius: 5px;
    height: 30px;
    outline: none;
}

.content__chapter {
    font-size: 30px;
    line-height:45px;
    font-weight: 300;
}

.nav__chapter {
    display: flex;
    align-content: center;
}

.chapter-btn {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    background: #66BFBF;
    margin: 0 5px;
}

.inactive {
    cursor: default;
    pointer-events: none;
    background: rgb(211, 211, 211);
}


